body {
   background-color: #222;
   color: #ddd;
}
i {
   font-size: 8rem;
   transition: color 0.2s linear;
}
/**
 * ----------------------------------------
 * animation rotate-diagonal-2
 * ----------------------------------------
 */
@-webkit-keyframes rotate-diagonal {
   0% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
   }
   50% {
      -webkit-transform: rotate3d(-1, 1, 0, 180deg);
      transform: rotate3d(-1, 1, 0, 180deg);
   }
   100% {
      -webkit-transform: rotate3d(-1, 1, 0, 360deg);
      transform: rotate3d(-1, 1, 0, 360deg);
   }
}
@keyframes rotate-diagonal {
   0% {
      -webkit-transform: rotate3d(-1, 1, 0, 0deg);
      transform: rotate3d(-1, 1, 0, 0deg);
   }
   50% {
      -webkit-transform: rotate3d(-1, 1, 0, 180deg);
      transform: rotate3d(-1, 1, 0, 180deg);
   }
   100% {
      -webkit-transform: rotate3d(-1, 1, 0, 360deg);
      transform: rotate3d(-1, 1, 0, 360deg);
   }
}

i:hover {
   animation: rotate-diagonal 0.6s linear both;
}
